In [1]:
import pandas as pd
import os

In [2]:
epoch7 = pd.read_csv("/root/syllogistic/syllogistic-generation/generation_log/t5_aug_dataset/prem1_aug_num_1_t5_kfold_0_epoch_7.csv")
epoch14 = pd.read_csv("/root/syllogistic/syllogistic-generation/generation_log/t5_aug_dataset/prem1_aug_num_1_t5_kfold_0_epoch_14.csv")

In [3]:
epoch7

,index,input,generation,label
0,29,Syllogistic: The repetitive facial expressions...,The repetitive pursing lips when inhaling and ...,Facial expressions mean pursing your lips when...
1,41,Syllogistic: I will not buy thing that are too...,I will not buy things that are too expensive,this lamp is very expensive
2,61,Syllogistic: taking care of oneself is closely...,Focusing on work is a way of focusing on work,Focusing on work is a great excuse for not tak...
3,94,Syllogistic: The period that hair growth comes...,Telogen affects about 15% of all hairs at a time.,The period that hair growth comes to a complet...
4,106,Syllogistic: People who spend most of their ti...,Babysitters spend most of their time with chil...,Babysitters struggle with children during the day
...,...,...,...,...
481,4770,"Syllogistic: The smaller you are, the harder i...","For Oracle, it is not hard to use all the digi...",Oracle is one of the largest companies develop...
482,4773,Syllogistic: polluted water sources poisons an...,poisoning animals who drink them pose great da...,poisoned animals pose great danger to the wild...
483,4780,Syllogistic: Microplastics can prevent the dig...,the urge to eat of aquatic creatures can dimin...,Blocking the gastrointestinal tract can dimini...
484,4785,Syllogistic: Multi-unit dwellings usually show...,Most single women prefer to live in a house ra...,Most single women prefer to live next to other...
485,4796,Syllogistic: Honest people usually tend to be ...,People follow honest leaders,People follow leaders they trust

In [4]:
epoch14

,index,input,generation,label
0,29,Syllogistic: The repetitive facial expressions...,The repetitive pursing lips when inhaling and ...,Facial expressions mean pursing your lips when...
1,41,Syllogistic: I will not buy thing that are too...,I will not buy anything that are too expensive,this lamp is very expensive
2,61,Syllogistic: taking care of oneself is closely...,Focusing on work is a way to focus on work,Focusing on work is a great excuse for not tak...
3,94,Syllogistic: The period that hair growth comes...,Telogen affects about 15% of all hairs at a time.,The period that hair growth comes to a complet...
4,106,Syllogistic: People who spend most of their ti...,Babysitters spend most of their time with chil...,Babysitters struggle with children during the day
...,...,...,...,...
481,4770,"Syllogistic: The smaller you are, the harder i...","For Oracle, it is not hard to use all the digi...",Oracle is one of the largest companies develop...
482,4773,Syllogistic: polluted water sources poisons an...,poisoning of animals poses great danger to wil...,poisoned animals pose great danger to the wild...
483,4780,Syllogistic: Microplastics can prevent the dig...,the urge to eat of aquatic creatures can dimin...,Blocking the gastrointestinal tract can dimini...
484,4785,Syllogistic: Multi-unit dwellings usually show...,Most single women prefer to live in a house th...,Most single women prefer to live next to other...
485,4796,Syllogistic: Honest people usually tend to be ...,People follow honest leaders,People follow leaders they trust

In [5]:
epoch7_ori = pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/t5_ori_mix_num_augmentation_until_1_filtering_true_epoch_7.csv")
epoch14_ori = pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/t5_ori_mix_num_augmentation_until_1_filtering_true_epoch_14.csv")

In [6]:
epoch7_ori

,Premise 1,Premise 2,Syllogistic relation,Conclusion,index
0,"Chronic diseases are heart attacks and stroke,...",In populations that eat a regular high-fiber d...,yes,In populations that eat a regular high-fiber d...,1
1,Formative assessment encourages children to en...,An ideal learning environment uses formative a...,yes,An ideal learning environment encourages child...,2
2,Underrepresented female labor force in some pr...,Job discrimination comes with underrepresented...,yes,Job discrimination comes with not being able t...,3
3,damaged mentality in an individual brings seri...,Aggression harms the mentality of person.,yes,Aggression brings brings serious health proble...,4
4,Batman used electronic disruptor to malfunctio...,Failure of motion detectors opened an access f...,yes,Batman opened an access for police forces to r...,7
...,...,...,...,...,...
3739,definiton of heresy is elaborated as religious...,Cardano was suddenly arrested on the accusatio...,yes,Cardano was suddenly arrested on the accusatio...,4732
3740,Providing job opportunities is a significant r...,Startups provide job opportunities.,yes,Startups play a significant role in economic g...,4733
3741,Eating fruit that contain lycopene are known t...,Watermelon contains lycopene,yes,Watermelon is known to lessen the chances of g...,4737
3742,Geographic Limits typically require additiona...,The main difference between international trad...,yes,The main difference between international trad...,4740
3743,faster transportation helps to industrial prog...,Technology has been regularly making faster tr...,yes,technology has been regularly making industria...,4746

In [7]:
epoch14_ori

,Premise 1,Premise 2,Syllogistic relation,Conclusion,index
0,"Chronic diseases are heart attacks and stroke,...",In populations that eat a regular high-fiber d...,yes,In populations that eat a regular high-fiber d...,1
1,Formative assessment encourages children to en...,An ideal learning environment uses formative a...,yes,An ideal learning environment encourages child...,2
2,Underrepresented female labor force in some pr...,Job discrimination comes with underrepresented...,yes,Job discrimination comes with not being able t...,3
3,damaged mentality in an individual brings seri...,Aggression harms the mentality of person.,yes,Aggression brings brings serious health proble...,4
4,Batman used electronic disruptor to malfunctio...,Failure of motion detectors opened an access f...,yes,Batman opened an access for police forces to r...,7
...,...,...,...,...,...
3739,definiton of heresy is elaborated as religious...,Cardano was suddenly arrested on the accusatio...,yes,Cardano was suddenly arrested on the accusatio...,4732
3740,Providing job opportunities is a significant r...,Startups provide job opportunities.,yes,Startups play a significant role in economic g...,4733
3741,Eating fruit that contain lycopene are known t...,Watermelon contains lycopene,yes,Watermelon is known to lessen the chances of g...,4737
3742,Geographic Limits typically require additiona...,The main difference between international trad...,yes,The main difference between international trad...,4740
3743,faster transportation helps to industrial prog...,Technology has been regularly making faster tr...,yes,technology has been regularly making industria...,4746

In [32]:
os.environ['TF_ENABLE_ONEDNN_OPTS'] = '0'

In [62]:
df = pd.read_csv("/root/logs/bart_vanilla_kfold/log-bart_vanilla_kfold_kfold_score.csv")

In [63]:
df

,Unnamed: 0,epoch,val_bleu,val_loss,val_rouge1,val_rouge2,val_rougeL,score
0,0,-1.0,0.355784,2.734118,0.495855,0.381135,0.464489,1.697264
1,1,0.0,0.502472,0.815963,0.668438,0.563426,0.657541,2.391877
2,2,1.0,0.588350,0.755598,0.732094,0.630929,0.720196,2.671568
3,3,2.0,0.585693,0.765568,0.739648,0.637908,0.727617,2.690866
4,4,3.0,0.606336,0.774545,0.747651,0.647860,0.734869,2.736717
5,5,4.0,0.605118,0.794888,0.752577,0.650972,0.736839,2.745505
6,6,5.0,0.605031,0.813429,0.750238,0.647797,0.734811,2.737877
7,7,6.0,0.609391,0.826799,0.752751,0.649443,0.735381,2.746967
8,8,7.0,0.634603,0.895323,0.758727,0.661831,0.744805,2.799966
9,9,8.0,0.620313,0.913874,0.759854,0.660408,0.744215,2.784791
10,10,9.0,0.602962,0.945288,0.748237,0.645777,0.732626,2.729602
11,11,10.0,0.626314,0.978439,0.757659,0.658813,0.742435,2.785220
12,12,11.0,0.631478,1.010811,0.759583,0.660277,0.746749,2.798088
13,13,12.0,0.629390,0.978388,0.764217,0.662513,0.749611,2.805731
14,14,13.0,0.634398,1.031364,0.761762,0.659013,0.744493,2.799665
15,15,14.0,0.641482,1.083269,0.771105,0.675022,0.753124,2.840732
16,16,15.0,0.643109,1.081125,0.769482,0.671977,0.755153,2.839720
17,17,16.0,0.635646,1.107890,0.763163,0.666475,0.747661,2.812946
18,18,17.0,0.611283,1.074961,0.750819,0.647460,0.732547,2.742109
19,19,18.0,0.619874,1.089169,0.756397,0.655846,0.739957,2.772073
20,20,19.0,0.626606,1.139641,0.756494,0.658225,0.739825,2.781150
21,21,20.0,0.647678,1.151420,0.769472,0.672487,0.752510,2.842147
22,22,21.0,0.629218,1.148969,0.759528,0.657058,0.741826,2.787631
23,23,22.0,0.633194,1.143437,0.761686,0.659045,0.743785,2.797710
24,24,23.0,0.623204,1.164973,0.755069,0.653524,0.738534,2.770330
25,25,24.0,0.645868,1.154674,0.767345,0.669963,0.748984,2.832161
26,26,25.0,0.632449,1.198204,0.763586,0.661091,0.748640,2.805766
27,27,26.0,0.619720,1.149300,0.752990,0.654616,0.735185,2.762511
28,28,27.0,0.628942,1.169781,0.756018,0.657579,0.738236,2.780775
29,29,28.0,0.632576,1.216324,0.759470,0.661077,0.742198,2.795322
30,30,29.0,0.634788,1.203783,0.763286,0.665355,0.745291,2.808720
31,31,-1.0,0.365077,2.681444,0.507398,0.397032,0.477833,1.747339
32,32,0.0,0.543081,0.739341,0.705991,0.603112,0.695031,2.547215
33,33,1.0,0.540725,0.750799,0.693689,0.592475,0.683115,2.510004
34,34,2.0,0.582609,0.706362,0.732851,0.628121,0.717012,2.660594
35,35,3.0,0.587797,0.711942,0.727683,0.626709,0.715036,2.657225
36,36,4.0,0.612673,0.717200,0.752886,0.652217,0.736305,2.754082
37,37,5.0,0.600503,0.738262,0.746841,0.645707,0.731295,2.724346
38,38,6.0,0.615920,0.797856,0.749127,0.647722,0.730683,2.743452
39,39,7.0,0.592124,0.792194,0.749369,0.643913,0.730093,2.715499
40,40,8.0,0.620941,0.867976,0.759585,0.658804,0.743497,2.782827
41,41,9.0,0.619430,0.901945,0.754030,0.653278,0.737749,2.764487
42,42,10.0,0.634561,0.888828,0.760401,0.661417,0.744079,2.800457
43,43,11.0,0.618445,0.924345,0.756518,0.653490,0.741593,2.770046
44,44,12.0,0.619505,0.915364,0.759076,0.656154,0.743213,2.777948
45,45,13.0,0.629300,0.942657,0.762792,0.662618,0.747547,2.802258
46,46,14.0,0.621382,0.999016,0.762800,0.660681,0.747263,2.792126
47,47,15.0,0.622922,0.992164,0.755780,0.657187,0.742860,2.778749
48,48,16.0,0.634177,0.985105,0.770692,0.671027,0.753103,2.828999
49,49,17.0,0.615684,1.002401,0.751509,0.650597,0.737647,2.755437
50,50,18.0,0.613179,1.003472,0.754382,0.654495,0.740677,2.762733
51,51,19.0,0.623535,1.038378,0.753543,0.655357,0.739974,2.772409
52,52,20.0,0.619019,1.053801,0.755039,0.653053,0.741826,2.768937

In [64]:
best = df['score'].argmax()

In [65]:
best

21

In [34]:
def kfold_result(aug_method, num_aug):
    for i in range(5):
        # /root/syllogistic/syllogistic-generation/logs/KFOLD_VALIDATION_20epochs_t5_aug_mix_num_augmentation_1_filtering_true_prem_making_epoch_7
        k_fold_path = os.path.join("/root/syllogistic/syllogistic-generation/logs",f"KFOLD_VALIDATION_20epochs_t5_{aug_method}_num_augmentation_{num_aug}_filtering_true_prem_making_epoch_7/log-KFOLD_VALIDATION_20epochs_t5_{aug_method}_num_augmentation_{num_aug}_filtering_true_prem_making_epoch_7_kfold({i}).csv" )
        log = pd.read_csv(k_fold_path)
        if i == 0:
            log = log.iloc[5:]
            log = log.reset_index()
            
        log_filtered = log[["epoch",'val_bleu', 'val_loss', 'val_rouge1','val_rouge2', 'val_rougeL']]
        
        if i == 0:
            total_df = log_filtered
        else:
            total_df = total_df + log_filtered
        
    total_df = total_df/5 # fold ìˆ˜
    total_df["bleu_rouge1,2,l"] = (total_df["val_bleu"]+total_df["val_rouge1"]+total_df["val_rouge2"]+total_df["val_rougeL"])
    total_df["bleu_rougel"] = (total_df["val_bleu"]+total_df["val_rougeL"])
    # total_df.to_csv(f"/root/logs/Kfold_total/30epoch_{aug_method}_{num_aug}_filtering_{filtering}.csv")

    return total_df

In [35]:
result = kfold_result('ori_mix', 1)

In [44]:
test

,epoch,val_bleu,val_rouge,val_loss,val_rouge1,val_rouge2,val_rougeL,data_length
0,-1,0.220135,NaN,2.176389,0.437878,0.337716,0.398797,3974.0
1,0,0.573625,NaN,0.750770,0.716103,0.615855,0.702791,3974.0
2,1,0.582235,NaN,0.739221,0.731856,0.631929,0.717452,3974.0
3,2,0.592354,NaN,0.729376,0.733252,0.630517,0.715621,3974.0
4,3,0.599151,NaN,0.750780,0.748440,0.647016,0.732358,3974.0
5,4,0.597882,NaN,0.780563,0.747169,0.644930,0.732810,3974.0
6,5,0.606488,NaN,0.810547,0.752985,0.645406,0.736309,3974.0
7,6,0.589903,NaN,0.847890,0.749109,0.645269,0.730523,3974.0
8,7,0.603677,NaN,0.866322,0.750013,0.645691,0.731640,3974.0
9,8,0.604036,NaN,0.930746,0.745103,0.643778,0.728980,3974.0
10,9,0.607871,NaN,0.974076,0.755626,0.655545,0.739461,3974.0
11,10,0.598376,NaN,1.004137,0.751181,0.646896,0.734591,3974.0
12,11,0.592758,NaN,1.042024,0.744058,0.641293,0.726493,3974.0
13,12,0.605907,NaN,1.044199,0.752572,0.646187,0.732489,3974.0
14,13,0.596338,NaN,1.074123,0.744289,0.638444,0.724027,3974.0
15,14,0.609120,NaN,1.107865,0.755749,0.652407,0.737284,3974.0
16,15,0.600894,NaN,1.141815,0.742695,0.637790,0.722368,3974.0
17,16,0.597992,NaN,1.171965,0.739581,0.637774,0.720291,3974.0
18,17,0.605260,NaN,1.190489,0.744974,0.642719,0.727464,3974.0
19,18,0.599835,NaN,1.215504,0.747302,0.641495,0.727382,3974.0
20,-1,0.220135,NaN,2.176389,0.437878,0.337716,0.398797,3974.0

In [36]:
result

,epoch,val_bleu,val_loss,val_rouge1,val_rouge2,val_rougeL,"bleu_rouge1,2,l",bleu_rougel
0,-1.0,0.206764,2.179470,0.434660,0.333536,0.386943,1.361903,0.593707
1,0.0,0.537150,0.776067,0.679753,0.574311,0.664859,2.456073,1.202010
2,1.0,0.567840,0.755131,0.709467,0.605120,0.692586,2.575013,1.260426
3,2.0,0.577197,0.760904,0.726117,0.621622,0.709064,2.634001,1.286261
4,3.0,0.583040,0.777201,0.729073,0.624606,0.713015,2.649734,1.296055
5,4.0,0.585434,0.791678,0.728851,0.622411,0.711900,2.648595,1.297333
6,5.0,0.579734,0.845513,0.728591,0.623092,0.710877,2.642293,1.290610
7,6.0,0.581849,0.877411,0.729551,0.621926,0.710644,2.643970,1.292493
8,7.0,0.581164,0.921686,0.735436,0.628938,0.716548,2.662086,1.297712
9,8.0,0.582782,0.950196,0.733022,0.626404,0.714961,2.657168,1.297743
10,9.0,0.579744,0.995389,0.727546,0.622979,0.709861,2.640131,1.289605
11,10.0,0.585430,1.043331,0.731584,0.626339,0.712586,2.655939,1.298016
12,11.0,0.578083,1.061685,0.732797,0.626589,0.713198,2.650667,1.291281
13,12.0,0.581508,1.098759,0.730078,0.624069,0.711991,2.647646,1.293499
14,13.0,0.580005,1.112252,0.733862,0.628565,0.715604,2.658035,1.295608
15,14.0,0.582547,1.143056,0.733480,0.627319,0.715582,2.658928,1.298130
16,15.0,0.583819,1.173669,0.731059,0.627421,0.714605,2.656905,1.298424
17,16.0,0.585689,1.199598,0.731702,0.629012,0.714669,2.661072,1.300359
18,17.0,0.580980,1.222214,0.731730,0.626491,0.713867,2.653069,1.294848
19,18.0,0.578754,1.237058,0.732532,0.627512,0.713912,2.652711,1.292667
20,19.0,0.571879,1.277761,0.727863,0.622505,0.709786,2.632034,1.281666

In [36]:
aug_method_list = ['ori_mix','aug_mix','aug_pair']
filetering_list = ['true', 'false']

for aug_method in aug_method_list:
    for filtering in filetering_list:
        for num_aug in range(1,4):
            df = kfold_result(aug_method, num_aug, filtering)

In [1]:
import pandas as pd
import os

In [3]:
path = "/root/syllogistic/syllogistic-generation/logs/KFOLD_VALIDATION_20epochs_t5_aug_mix_num_augmentation_1_filtering_true_prem_making_epoch_7"

In [41]:
test = pd.read_csv("/root/syllogistic/syllogistic-generation/logs/test_20epochs_t5_ori_mix_num_augmentation_1_filtered_true_prem_making_epoch_7/log-test_20epochs_t5_ori_mix_num_augmentation_1_filtered_true_prem_making_epoch_7_kfold(0).csv")

In [42]:
test

,epoch,val_bleu,val_rouge,val_loss,val_rouge1,val_rouge2,val_rougeL,data_length
0,-1,0.220135,NaN,2.176389,0.437878,0.337716,0.398797,3974.0
1,0,0.573625,NaN,0.750770,0.716103,0.615855,0.702791,3974.0
2,1,0.582235,NaN,0.739221,0.731856,0.631929,0.717452,3974.0
3,2,0.592354,NaN,0.729376,0.733252,0.630517,0.715621,3974.0
4,3,0.599151,NaN,0.750780,0.748440,0.647016,0.732358,3974.0
5,4,0.597882,NaN,0.780563,0.747169,0.644930,0.732810,3974.0
6,5,0.606488,NaN,0.810547,0.752985,0.645406,0.736309,3974.0
7,6,0.589903,NaN,0.847890,0.749109,0.645269,0.730523,3974.0
8,7,0.603677,NaN,0.866322,0.750013,0.645691,0.731640,3974.0
9,8,0.604036,NaN,0.930746,0.745103,0.643778,0.728980,3974.0
10,9,0.607871,NaN,0.974076,0.755626,0.655545,0.739461,3974.0
11,10,0.598376,NaN,1.004137,0.751181,0.646896,0.734591,3974.0
12,11,0.592758,NaN,1.042024,0.744058,0.641293,0.726493,3974.0
13,12,0.605907,NaN,1.044199,0.752572,0.646187,0.732489,3974.0
14,13,0.596338,NaN,1.074123,0.744289,0.638444,0.724027,3974.0
15,14,0.609120,NaN,1.107865,0.755749,0.652407,0.737284,3974.0
16,15,0.600894,NaN,1.141815,0.742695,0.637790,0.722368,3974.0
17,16,0.597992,NaN,1.171965,0.739581,0.637774,0.720291,3974.0
18,17,0.605260,NaN,1.190489,0.744974,0.642719,0.727464,3974.0
19,18,0.599835,NaN,1.215504,0.747302,0.641495,0.727382,3974.0
20,-1,0.220135,NaN,2.176389,0.437878,0.337716,0.398797,3974.0

In [37]:
def extract_best_epoch(result, best_epoch_method):
    
    if best_epoch_method == 'rougeL':
        best_epoch = result['bleu_rougel'].argmax()
    elif best_epoch_method == 'rouge12L':
        best_epoch = result['bleu_rouge1,2,l'].argmax()
    else:
        print("Wrong input")
    
    return best_epoch

In [43]:
best_epoch = extract_best_epoch(result, 'rougeL')
best_epoch

17

In [60]:
best_epoch_method_list = ['rouge12L','rougeL']

In [61]:
for aug_method in aug_method_list:
    for num_aug in range(1,4):
        for filtering in filetering_list:
            for best_epoch_method in best_epoch_method_list:
                path = f"/root/logs/Kfold_total/30epoch_{aug_method}_{num_aug}_filtering_{filtering}.csv"
                best_epoch = extract_best_epoch(path, best_epoch_method)
                print(f"{best_epoch_method}_{aug_method}_{num_aug}_filtering_{filtering} : {best_epoch}")

rouge12L_ori_mix_1_filtering_true : 9
rougeL_ori_mix_1_filtering_true : 21
rouge12L_ori_mix_1_filtering_false : 9
rougeL_ori_mix_1_filtering_false : 10
rouge12L_ori_mix_2_filtering_true : 5
rougeL_ori_mix_2_filtering_true : 5
rouge12L_ori_mix_2_filtering_false : 3
rougeL_ori_mix_2_filtering_false : 3
rouge12L_ori_mix_3_filtering_true : 12
rougeL_ori_mix_3_filtering_true : 12
rouge12L_ori_mix_3_filtering_false : 2
rougeL_ori_mix_3_filtering_false : 2
rouge12L_aug_mix_1_filtering_true : 27
rougeL_aug_mix_1_filtering_true : 24
rouge12L_aug_mix_1_filtering_false : 4
rougeL_aug_mix_1_filtering_false : 4
rouge12L_aug_mix_2_filtering_true : 5
rougeL_aug_mix_2_filtering_true : 16
rouge12L_aug_mix_2_filtering_false : 3
rougeL_aug_mix_2_filtering_false : 3
rouge12L_aug_mix_3_filtering_true : 13
rougeL_aug_mix_3_filtering_true : 13
rouge12L_aug_mix_3_filtering_false : 1
rougeL_aug_mix_3_filtering_false : 1
rouge12L_aug_pair_1_filtering_true : 15
rougeL_aug_pair_1_filtering_true : 15
rouge12L_aug_pair_1_filtering_false : 23
rougeL_aug_pair_1_filtering_false : 23
rouge12L_aug_pair_2_filtering_true : 28
rougeL_aug_pair_2_filtering_true : 28
rouge12L_aug_pair_2_filtering_false : 10
rougeL_aug_pair_2_filtering_false : 10
rouge12L_aug_pair_3_filtering_true : 26
rougeL_aug_pair_3_filtering_true : 26
rouge12L_aug_pair_3_filtering_false : 6
rougeL_aug_pair_3_filtering_false : 6

In [53]:
for best_epoch_method in best_epoch_method_list:
    for aug_method in aug_method_list:
        for filtering in filetering_list:
            for num_aug in range(1,4):
                path = f"/root/logs/Kfold_total/30epoch_{aug_method}_{num_aug}_filtering_{filtering}.csv"
                best_epoch = extract_best_epoch(path, best_epoch_method)
                if best_epoch >=20 and filtering == 'true':
                    print(f"{best_epoch_method}_{aug_method}_{num_aug}_filtering_{filtering} : {best_epoch}")

rougeL_ori_mix_1_filtering_true : 21
rougeL_aug_mix_1_filtering_true : 24
rougeL_aug_pair_2_filtering_true : 28
rougeL_aug_pair_3_filtering_true : 26
rouge12L_aug_mix_1_filtering_true : 27
rouge12L_aug_pair_2_filtering_true : 28
rouge12L_aug_pair_3_filtering_true : 26

In [9]:
df1 = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/aug_mix_num_augmentation_until_1_filtering_True.csv")

In [10]:
df = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/aug_mix_num_augmentation_until_1_filtering_true.csv")

In [14]:
df = pd.read_csv("/root/logs/final_test_10epochs_rougeL_aug_mix_num_augmentation_1_filtered_true/log-final_test_10epochs_rougeL_aug_mix_num_augmentation_1_filtered_true_kfold_blue_rouge_combination_10epoch.csv")

In [15]:
df

,Unnamed: 0,epoch,val_bleu,val_loss,val_rouge1,val_rouge2,val_rougeL,"bleu_rouge1,2,l",bleu_rougel
0,0,-1.0,0.413215,2.422763,0.520312,0.416095,0.492940,1.842561,0.906155
1,1,0.0,0.603303,0.600922,0.756610,0.673594,0.747060,2.780567,1.350363
2,2,1.0,0.635362,0.603159,0.775415,0.691456,0.764529,2.866762,1.399892
3,3,2.0,0.647365,0.601465,0.796254,0.713118,0.785249,2.941986,1.432614
4,4,3.0,0.654271,0.608775,0.794500,0.711876,0.782356,2.943003,1.436626
5,5,4.0,0.676488,0.660097,0.804398,0.725369,0.793054,2.999309,1.469542
6,6,5.0,0.665048,0.672686,0.796810,0.716586,0.786278,2.964723,1.451326
7,7,6.0,0.666421,0.715126,0.801298,0.718830,0.788518,2.975067,1.454939
8,8,7.0,0.687562,0.742087,0.810838,0.732206,0.798651,3.029257,1.486213
9,9,8.0,0.681840,0.774407,0.807321,0.724990,0.793485,3.007636,1.475325
10,10,9.0,0.672833,0.801602,0.801433,0.720133,0.789064,2.983464,1.461897

In [16]:
best_epoch = df['bleu_rouge1,2,l'].argmax()

In [17]:
best_epoch

8

In [20]:
best_epoch = extract_best_epoch(path, best_epoch_method)

In [32]:
df = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/final_test_30epochs_rouge12L_aug_mix_num_augmentation_1_filtered_false/log-final_test_30epochs_rouge12L_aug_mix_num_augmentation_1_filtered_false_kfold_blue_rouge_combination.csv")

In [24]:
aug_method = ['ori_mix','aug_mix','aug_pair']
filetering_list = ['true', 'false']
best_epoch_method = 'rouge12L'
for method in aug_method:
    for num_aug in range(1,4):
        for filtering in filetering_list:
            path = f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/final_test_30epochs_rouge12L_{method}_num_augmentation_{num_aug}_filtered_{filtering}/log-final_test_30epochs_rouge12L_{method}_num_augmentation_{num_aug}_filtered_{filtering}_kfold_blue_rouge_combination.csv"
            best_epoch = extract_best_epoch(path, best_epoch_method)
            print(f"{method}_{num_aug}_{filtering} : {best_epoch}")

ori_mix_1_true : 8
ori_mix_1_false : 12
ori_mix_2_true : 5
ori_mix_2_false : 2
ori_mix_3_true : 27
ori_mix_3_false : 3
aug_mix_1_true : 8
aug_mix_1_false : 2
aug_mix_2_true : 8
aug_mix_2_false : 2
aug_mix_3_true : 7
aug_mix_3_false : 2
aug_pair_1_true : 15
aug_pair_1_false : 16
aug_pair_2_true : 28
aug_pair_2_false : 27
aug_pair_3_true : 18
aug_pair_3_false : 13

In [29]:
aug_method = ['ori_mix','aug_mix','aug_pair']
filetering_list = ['false']
best_epoch_method = 'rougeL'
for method in aug_method:
    for num_aug in range(1,4):
        for filtering in filetering_list:
            path = f"/root/logs/final_test_30epochs_rougeL_{method}_num_augmentation_{num_aug}_filtered_{filtering}/log-final_test_30epochs_rougeL_{method}_num_augmentation_{num_aug}_filtered_{filtering}_kfold_blue_rouge_combination.csv"
            best_epoch = extract_best_epoch(path, best_epoch_method)
            print(f"{method}_{num_aug}_{filtering} : {best_epoch}")

ori_mix_1_false : 12
ori_mix_2_false : 2
ori_mix_3_false : 3
aug_mix_1_false : 11
aug_mix_2_false : 2
aug_mix_3_false : 3
aug_pair_1_false : 16
aug_pair_2_false : 27
aug_pair_3_false : 13

In [26]:
df_1 = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_VALIDATION_aug_mix_num_augmentation_1_filtering_false_drop_duplicate_false/log-KFOLD_VALIDATION_aug_mix_num_augmentation_1_filtering_false_drop_duplicate_false_kfold(0).csv")
df_2 = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_VALIDATION_aug_mix_num_augmentation_1_filtering_false_drop_duplicate_false/log-KFOLD_VALIDATION_aug_mix_num_augmentation_1_filtering_false_drop_duplicate_false_kfold(1).csv")

In [18]:
def kfold_result(method,num_aug,filtering):
    for i in range(5):
        if filtering == True:    
            log = pd.read_csv(f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_filtering_{filtering}/log-KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_filtering_{filtering}_kfold({i}).csv")
            log_filtered = log[["epoch",'val_bleu', 'val_loss', 'val_rouge1','val_rouge2', 'val_rougeL']]
        
            if i == 0:
                total_df = log_filtered
            else:
                total_df = total_df + log_filtered
        elif filtering == False:    
            log = pd.read_csv(f"/root/logs_backup/logs_first_30/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_non_filtering/log-KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_non_filtering_kfold({i}).csv")
            log_filtered = log[["epoch",'val_bleu', 'val_loss', 'val_rouge1','val_rouge2', 'val_rougeL']]
        
            if i == 0:
                total_df = log_filtered
            else:
                total_df = total_df + log_filtered
        
    total_df = total_df/5 # fold ìˆ˜
    total_df["score"] = (total_df["val_bleu"]+total_df["val_rouge1"]+total_df["val_rouge2"]+total_df["val_rougeL"])
    total_df.to_csv(f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_RESULT_TOTAL/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_result.csv")

    return total_df

In [4]:
def kfold_result(method,num_aug,filtering):
    for i in range(5):
        log = pd.read_csv(f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_filtering_{filtering}/log-KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_filtering_{filtering}_kfold({i}).csv")
        log_filtered = log[["epoch",'val_bleu', 'val_loss', 'val_rouge1','val_rouge2', 'val_rougeL']]
        
        if i == 0:
            total_df = log_filtered
        else:
            total_df = total_df + log_filtered
        
        
    total_df = total_df/5 # fold ìˆ˜
    total_df["score"] = (total_df["val_bleu"]+total_df["val_rouge1"]+total_df["val_rouge2"]+total_df["val_rougeL"])
    total_df.to_csv(f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_RESULT_TOTAL/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_filtering_{filtering}_result.csv")

    return total_df

In [6]:
def extract_best_epoch(method, num_aug, filtering):
    result = pd.read_csv(f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_RESULT_TOTAL/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_filtering_{filtering}_result.csv")
    best_epoch = result['score'].argmax()
    return best_epoch

In [10]:
aug_method = ['ori_mix','aug_mix','aug_pair']
filtering = [False]

In [12]:
for method in aug_method:
    for num_aug in range(1,4):
        kfold_result(method,num_aug,False)

In [14]:
best_epoch_filtering_dict = {}
for num_aug in range(1,4):
    for method in aug_method: 
        best_epoch_filtering_dict[f"{method}_{num_aug}_{False}"] = extract_best_epoch(method, num_aug, False)

In [16]:
best_epoch_filtering_dict

{'ori_mix_1_False': 9,
 'aug_mix_1_False': 4,
 'aug_pair_1_False': 23,
 'ori_mix_2_False': 3,
 'aug_mix_2_False': 3,
 'aug_pair_2_False': 10,
 'ori_mix_3_False': 2,
 'aug_mix_3_False': 1,
 'aug_pair_3_False': 6}

In [5]:
def extract_best_epoch(method, num_aug, filtering):
    if filtering == True:
        result = pd.read_csv(f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_RESULT_TOTAL/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_filtering_{filtering}_result.csv")
    best_epoch = result['score'].argmax()
    return best_epoch

In [11]:
best_epoch_filtering_dict = {}
best_epoch_non_filtering_dict = {}

In [13]:
aug_method = ['ori_mix','aug_mix','aug_pair']

In [15]:
for num_aug in range(1,4):
    for method in aug_method: 
        best_epoch_filtering_dict[f"{method}_{num_aug}"] = extract_best_epoch(method, num_aug, True)
        best_epoch_non_filtering_dict[f"{method}_{num_aug}"] = extract_best_epoch(method, num_aug, False)

In [16]:
best_epoch_filtering_dict, best_epoch_non_filtering_dict

({'ori_mix_1': 9,
  'aug_mix_1': 27,
  'aug_pair_1': 15,
  'ori_mix_2': 12,
  'aug_mix_2': 17,
  'aug_pair_2': 23,
  'ori_mix_3': 13,
  'aug_mix_3': 8,
  'aug_pair_3': 23},
 {'ori_mix_1': 5,
  'aug_mix_1': 3,
  'aug_pair_1': 12,
  'ori_mix_2': 4,
  'aug_mix_2': 2,
  'aug_pair_2': 5,
  'ori_mix_3': 2,
  'aug_mix_3': 1,
  'aug_pair_3': 4})

In [16]:
for num_aug in range(1,4):
    for method in aug_method: 
        best_epoch_filtering_dict[f"{method}_{num_aug}"] = extract_best_epoch(method, num_aug, False)

NameError: name 'aug_method' is not defined

In [76]:
for num_aug in range(1,4):
    for method in aug_method:
        df = kfold_result(method,num_aug)

In [89]:
def extract_best_epoch(method, num_aug):
    result = pd.read_csv(f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_RESULT_TOTAL/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}_result.csv")
    best_epoch = result['bleu_rouge_avg'].argmax()
    return best_epoch

In [90]:
best_epoch_dict = {}

In [ ]:
for fold in range(5):
    for num_aug in range(1,4):
        for method in aug_method:
            df = pd.read_csv(f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}-kfold({fold})/log.csv")
            df_filtered = df[-11:]
            df_filtered.to_csv(f"/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_VALIDATION_{method}_num_augmentation_{num_aug}-kfold({fold})/log_extract.csv")

In [91]:
for num_aug in range(1,4):
    for method in aug_method: 
        best_epoch_dict[f"{method}_{num_aug}"] = extract_best_epoch(method, num_aug)

In [92]:
best_epoch_dict

{'ori_mix_1': 8,
 'aug_mix_1': 6,
 'aug_pair_1': 10,
 'ori_mix_2': 9,
 'aug_mix_2': 10,
 'aug_pair_2': 10,
 'ori_mix_3': 8,
 'aug_mix_3': 4,
 'aug_pair_3': 7}

In [94]:
best_epoch_dict_df = pd.DataFrame(list(best_epoch_dict.items()),columns=["method", "best_epoch"])

In [96]:
best_epoch_dict_df.to_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/logs/KFOLD_RESULT_TOTAL/best_epochs.csv")

In [31]:
df = pd.read_html("/root/syllogistic/syllogistic-generation/seq2seq/finetune/generation_log/test_aug_mix_num_augmentation_2_filtered_True/test_aug_mix_num_augmentation_2_filtered_True.html")[0]

In [32]:
df

,input,generation,label
0,Freedom in the World published each year since...,the Universal Declaration of Human Rights publ...,Freedom in the World published each year since...
1,Arsenal finished the Premier League season wit...,Arsenal awarded a winner with golden trophy in...,Arsenal were granted with golden trophy instea...
2,Regenerating stamina requires the cooling of b...,Regenerating stamina requires sweating.,Regenerating stamina is possible by sweating.
3,North American toadsÃ¢Â€Â™ inherit Glucose based ...,North American toadsÃ¢Â€Â™ bodies are resistant t...,North American toads are resistant to freezing...
4,High inflation may lead to higher borrowing co...,Financial markets may lead to higher borrowing...,Rising prices and increase in the cost of borr...
...,...,...,...
625,osteoporosis is more common in females than in...,Osteoporosis is more common in females than in...,becoming weak and brittle in bones is more com...
626,"The fewer friends a person has, the higher lev...","The fewer friends a person has, the higher the...",Having few friends increases the risks of hear...
627,Interacting with other people is the first ste...,"You can make more friends, if you can control ...",You can make more friends through interacting ...
628,The car slip makes it challenging to come to a...,Road conditions as a result of the rain make i...,Road conditions as a result of the rain can ch...
629,Since 1990 it had been discovered that Helium ...,Since 1990 it had been discovered that Helium ...,Helium is stable.

In [33]:
df1 = pd.read_html("/root/syllogistic/syllogistic-generation/seq2seq/finetune/generation_log/test_aug_mix_num_augmentation_2_filtered_False/test_aug_mix_num_augmentation_2_filtered_False.html")[0]

In [34]:
df1

,input,generation,label
0,Freedom in the World published each year since...,the Universal Declaration of Human Rights publ...,Freedom in the World published each year since...
1,Arsenal finished the Premier League season wit...,Arsenal awarded a winner with golden trophy in...,Arsenal were granted with golden trophy instea...
2,Regenerating stamina requires the cooling of b...,Regenerating stamina requires sweating.,Regenerating stamina is possible by sweating.
3,North American toadsÃ¢Â€Â™ inherit Glucose based ...,North American toadsÃ¢Â€Â™ bodies are resistant t...,North American toads are resistant to freezing...
4,High inflation may lead to higher borrowing co...,Financial markets may lead to higher borrowing...,Rising prices and increase in the cost of borr...
...,...,...,...
625,osteoporosis is more common in females than in...,Osteoporosis is more common in females than in...,becoming weak and brittle in bones is more com...
626,"The fewer friends a person has, the higher lev...","The fewer friends a person has, the higher the...",Having few friends increases the risks of hear...
627,Interacting with other people is the first ste...,"You can make more friends, if you can control ...",You can make more friends through interacting ...
628,The car slip makes it challenging to come to a...,Road conditions as a result of the rain make i...,Road conditions as a result of the rain can ch...
629,Since 1990 it had been discovered that Helium ...,Since 1990 it had been discovered that Helium ...,Helium is stable.

In [35]:
is_same_list = []
for i in range(len(df)):
    if df["generation"][i] == df1["generation"][i]:
        is_same_list.append('same')
    else:
        pass

In [36]:
len(is_same_list)

630

In [37]:
df_false = pd.read_html("/root/syllogistic/syllogistic-generation/seq2seq/finetune/generation_log/test_aug_mix_num_augmentation_1_filtered_False/test_aug_mix_num_augmentation_1_filtered_False.html")[0]
df_true = pd.read_html("/root/syllogistic/syllogistic-generation/seq2seq/finetune/generation_log/test_aug_mix_num_augmentation_1_filtered_True/test_aug_mix_num_augmentation_1_filtered_True.html")[0]

In [39]:
tf_list =[]

In [40]:
for i in range(len(df_false)):
    if df_false['generation'][i]==df_true['generation'][i]:
        tf_list.append('same')

In [42]:
len(tf_list)

269

In [7]:
import pandas as pd
import os

In [9]:
method_list = ['ori_mix', 'aug_mix', 'aug_pair']

In [5]:
root = "/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/"

In [15]:
for method in method_list:
    for num_aug in range(1,4):
        data_path = os.path.join(root, f"{method}_num_augmentation_until_{num_aug}_filtering_False.csv")
        data = pd.read_csv(data_path)
        # print(f"{method}_{num_aug}_all : {len(data)-2427}")
        print(f"{method}_{num_aug}_without_duplicate : {len(data.drop_duplicates())-2472}")

ori_mix_1_without_duplicate : 4615
ori_mix_2_without_duplicate : 8959
ori_mix_3_without_duplicate : 12777
aug_mix_1_without_duplicate : 6863
aug_mix_2_without_duplicate : 13446
aug_mix_3_without_duplicate : 19544
aug_pair_1_without_duplicate : 2367
aug_pair_2_without_duplicate : 4743
aug_pair_3_without_duplicate : 7046