In [30]:

import pandas as pd
import torch
from transformers import GPT2Tokenizer, GPT2LMHeadModel
import os

In [1]:
import datasets

/usr/local/lib/python3.8/dist-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
bleu = datasets.load_metric("bleu")

In [4]:
bleu

Metric(name: "bleu", features: {'predictions': Sequence(feature=Value(dtype='string', id='token'), length=-1, id='sequence'), 'references': Sequence(feature=Sequence(feature=Value(dtype='string', id='token'), length=-1, id='sequence'), length=-1, id='references')}, usage: """
Computes BLEU score of translated segments against one or more references.
Args:
    predictions: list of translations to score.
        Each translation should be tokenized into a list of tokens.
    references: list of lists of references for each translation.
        Each reference should be tokenized into a list of tokens.
    max_order: Maximum n-gram order to use when computing BLEU score.
    smooth: Whether or not to apply Lin et al. 2004 smoothing.
Returns:
    'bleu': bleu score,
    'precisions': geometric mean of n-gram precisions,
    'brevity_penalty': brevity penalty,
    'length_ratio': ratio of lengths,
    'translation_length': translation_length,
    'reference_length': reference_length
Examples:

    >>> predictions = [
    ...     ["hello", "there", "general", "kenobi"],                             # tokenized prediction of the first sample
    ...     ["foo", "bar", "foobar"]                                             # tokenized prediction of the second sample
    ... ]
    >>> references = [
    ...     [["hello", "there", "general", "kenobi"], ["hello", "there", "!"]],  # tokenized references for the first sample (2 references)
    ...     [["foo", "bar", "foobar"]]                                           # tokenized references for the second sample (1 reference)
    ... ]
    >>> bleu = datasets.load_metric("bleu")
    >>> results = bleu.compute(predictions=predictions, references=references)
    >>> print(results["bleu"])
    1.0
""", stored examples: 0)

In [21]:
if os.path.isfile("/root/syllogistic/syllogistic-generation/logs/logs.csv"):
    print('yes')

else:
    print("no")

no

In [31]:
df = pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/bart_aug_mix_num_augmentation_until_1_filtering_true_epoch_6.csv")
len(df)

4520

In [32]:
len(df)-2427

2093

In [27]:
a = 1

In [28]:
b =2

In [29]:
if a == 1 and b == 2:
    print('yes')

yes

In [33]:
data = pd.read_csv("/root/syllogistic/syllogistic-generation/generation_log/aug_dataset/gpt2/prem2_aug_num_3_gpt2_kfold_3_epoch_9.csv")

In [24]:
log_df = pd.DataFrame(columns = ["model_name", "bert_score", "rouge-1", "rouge-2", "rouge-L", "bleu"])
log_df.to_csv("/root/syllogistic/syllogistic-generation/logs/logs.csv")

In [18]:
data = pd.read_html("/root/syllogistic/syllogistic-generation/generation_log/AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_1_prem_making_epoch_6_filtered_true/AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_1_prem_making_epoch_6_filtered_true_epoch_16.html")[0]

In [19]:
data

,input,generation,label
0,Freedom in the World published each year since...,Freedom in the World published each year since...,Freedom in the World published each year since...
1,Arsenal finished the Premier League season wit...,Arsenal grants a winner with golden trophy ins...,Arsenal were granted with golden trophy instea...
2,Regenerating stamina requires the cooling of b...,Regenerating stamina is possible by sweating,Regenerating stamina is possible by sweating.
3,North American toadsâ inherit Glucose based ...,North American toadsâ inherit body tissues a...,North American toads are resistant to freezing...
4,High inflation may lead to higher borrowing co...,Financial markets raise prices and increase th...,Rising prices and increase in the cost of borr...
...,...,...,...
625,osteoporosis is more common in females than in...,males have more common bones causes osteoporosis,becoming weak and brittle in bones is more com...
626,"The fewer friends a person has, the higher lev...","The fewer friends a person has, the risks of h...",Having few friends increases the risks of hear...
627,Interacting with other people is the first ste...,"You can make more friends, if you control your...",You can make more friends through interacting ...
628,The car slip makes it challenging to come to a...,Road conditions as a result of the rain can ma...,Road conditions as a result of the rain can ch...
629,Since 1990 it had been discovered that Helium ...,Since 1990 it had been discovered that Helium ...,Helium is stable.

In [14]:
print(os.getcwd())

/root/syllogistic/syllogistic-generation/generation_log

In [15]:
print(os.getcwd())
os.get

/root/syllogistic/syllogistic-generation/generation_log

In [16]:
list = os.listdir()

In [17]:
list

['AA_final_test_20epochs_t5_rouge12L_aug_pair_num_augmentation_1_prem_making_epoch_6_filtered_true',
 'test_20epochs_t5_aug_mix_num_augmentation_1_filtered_true_prem_making_epoch_6',
 'bart_aug_dataset',
 'test_20epochs_t5_aug_pair_num_augmentation_1_filtered_true_prem_making_epoch_8',
 'test_20epochs_t5_aug_pair_num_augmentation_1_filtered_true_prem_making_epoch_6',
 'AA_final_test_20epochs_t5_rouge12L_aug_mix_num_augmentation_1_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_ori_mix_num_augmentation_2_prem_making_epoch_6_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_pair_num_augmentation_2_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_pair_num_augmentation_3_prem_making_epoch_6_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_ori_mix_num_augmentation_2_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_mix_num_augmentation_3_prem_making_epoch_8_filtered_true',
 'test_20epochs_t5_aug_pair_num_augmentation_2_filtered_true_prem_making_epoch_7',
 'AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_2_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_pair_num_augmentation_3_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_mix_num_augmentation_1_prem_making_epoch_6_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_pair_num_augmentation_3_prem_making_epoch_6_filtered_true',
 'test_20epochs_t5_aug_pair_num_augmentation_1_filtered_true_prem_making_epoch_9',
 'test_20epochs_t5_aug_pair_num_augmentation_1_filtered_true_prem_making_epoch_7',
 'test_20epochs_t5_aug_mix_num_augmentation_3_filtered_true_prem_making_epoch_7',
 'AA_final_test_20epochs_t5_rouge12L_aug_mix_num_augmentation_2_prem_making_epoch_6_filtered_true',
 'test_20epochs_t5_aug_mix_num_augmentation_1_filtered_true_prem_making_epoch_7',
 'AA_final_test_20epochs_rouge12L_aug_pair_num_augmentation_2_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_rouge12L_ori_mix_num_augmentation_3_prem_making_epoch_6_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_pair_num_augmentation_1_prem_making_epoch_6_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_ori_mix_num_augmentation_3_prem_making_epoch_6_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_ori_mix_num_augmentation_1_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_3_prem_making_epoch_7_filtered_true',
 'A_final_test_30epochs_rouge12L_ori_mix_num_augmentation_1_filtered_true',
 'test_20epochs_t5_ori_mix_num_augmentation_1_filtered_true_prem_making_epoch_7',
 'test_20epochs_t5_ori_mix_num_augmentation_2_filtered_true_prem_making_epoch_7',
 'AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_2_prem_making_epoch_7_filtered_true',
 'gpt2_aug_dataset-kfold(3)',
 'test_20epochs_t5_aug_mix_num_augmentation_1_filtered_true_prem_making_epoch_4',
 'AA_final_test_20epochs_t5_rouge12L_ori_mix_num_augmentation_3_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_3_prem_making_epoch_8_filtered_true',
 't5_aug_dataset',
 'test_20epochs_t5_aug_pair_num_augmentation_1_filtered_true',
 'test_20epochs_t5_aug_mix_num_augmentation_2_filtered_true_prem_making_epoch_7',
 'AA_final_test_20epochs_rouge12L_aug_pair_num_augmentation_3_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_ori_mix_num_augmentation_1_prem_making_epoch_6_filtered_true',
 'test_20epochs_t5_aug_mix_num_augmentation_3_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_ori_mix_num_augmentation_3_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_rouge12L_ori_mix_num_augmentation_2_prem_making_epoch_7_filtered_true',
 'test_20epochs_t5_aug_pair_num_augmentation_3_filtered_true',
 'test_20epochs_t5_ori_mix_num_augmentation_1_filtered_true_prem_making_epoch_8',
 'AA_final_test_20epochs_rouge12L_ori_mix_num_augmentation_2_prem_making_epoch_8_filtered_true',
 'test_20epochs_t5_ori_mix_num_augmentation_2_filtered_true',
 'test_20epochs_t5_aug_mix_num_augmentation_1_filtered_true_prem_making_epoch_8',
 'AA_final_test_20epochs_t5_rouge12L_aug_pair_num_augmentation_2_prem_making_epoch_6_filtered_true',
 'test_20epochs_t5_aug_mix_num_augmentation_1_filtered_true',
 'test_20epochs_t5_ori_mix_num_augmentation_3_filtered_true_prem_making_epoch_7',
 'gpt2_aug_dataset-kfold(0)',
 'AA_final_test_20epochs_t5_rouge12L_aug_mix_num_augmentation_1_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_3_prem_making_epoch_6_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_2_prem_making_epoch_6_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_pair_num_augmentation_1_prem_making_epoch_7_filtered_true',
 'test_20epochs_t5_aug_pair_num_augmentation_1_filtered_true_prem_making_epoch_5',
 'AA_final_test_20epochs_rouge12L_aug_pair_num_augmentation_1_prem_making_epoch_8_filtered_true',
 'aug_dataset',
 'AA_final_test_20epochs_t5_rouge12L_aug_pair_num_augmentation_1_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_rouge12L_ori_mix_num_augmentation_1_prem_making_epoch_6_filtered_true',
 'test_20epochs_t5_aug_pair_num_augmentation_3_filtered_true_prem_making_epoch_7',
 'test_20epochs__ori_mix_num_augmentation_1_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_1_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_rouge12L_ori_mix_num_augmentation_1_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_1_prem_making_epoch_6_filtered_true',
 'gpt2_aug_dataset-kfold(2)',
 'AA_final_test_20epochs_t5_rouge12L_aug_pair_num_augmentation_3_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_pair_num_augmentation_2_prem_making_epoch_8_filtered_true',
 'test_20epochs_t5_aug_mix_num_augmentation_1_filtered_true_prem_making_epoch_9',
 'test_20epochs_t5_ori_mix_num_augmentation_1_filtered_true_prem_making_epoch_4',
 'AA_final_test_20epochs_rouge12L_ori_mix_num_augmentation_3_prem_making_epoch_7_filtered_true',
 'test_20epochs_t5_ori_mix_num_augmentation_1_filtered_true_prem_making_epoch_5',
 'AA_final_test_20epochs_t5_rouge12L_aug_mix_num_augmentation_3_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_pair_num_augmentation_3_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_ori_mix_num_augmentation_1_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_mix_num_augmentation_2_prem_making_epoch_7_filtered_true',
 'test_20epochs_t5_ori_mix_num_augmentation_1_filtered_true_prem_making_epoch_9',
 'test_20epochs_t5_aug_mix_num_augmentation_1_filtered_true_prem_making_epoch_5',
 'test_20epochs_t5_aug_pair_num_augmentation_2_filtered_true',
 'test_20epochs_t5_aug_mix_num_augmentation_2_filtered_true',
 'AA_final_test_20epochs_rouge12L_ori_mix_num_augmentation_1_prem_making_epoch_7_filtered_true',
 'gpt2_aug_dataset-kfold(4)',
 'AA_final_test_20epochs_rouge12L_ori_mix_num_augmentation_3_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_pair_num_augmentation_2_prem_making_epoch_8_filtered_true',
 'test_20epochs_t5_aug_pair_num_augmentation_1_filtered_true_prem_making_epoch_4',
 'AA_final_test_20epochs_rouge12L_ori_mix_num_augmentation_2_prem_making_epoch_6_filtered_true',
 'gpt2_aug_dataset-kfold(1)',
 'AA_final_test_20epochs_t5_rouge12L_ori_mix_num_augmentation_2_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_pair_num_augmentation_2_prem_making_epoch_6_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_mix_num_augmentation_1_prem_making_epoch_7_filtered_true',
 'AA_final_test_20epochs_rouge12L_aug_pair_num_augmentation_1_prem_making_epoch_7_filtered_true',
 'test_20epochs_t5_ori_mix_num_augmentation_3_filtered_true',
 'test_20epochs_t5_ori_mix_num_augmentation_1_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_mix_num_augmentation_2_prem_making_epoch_8_filtered_true',
 'AA_final_test_20epochs_t5_rouge12L_aug_mix_num_augmentation_3_prem_making_epoch_6_filtered_true',
 'test_20epochs_t5_ori_mix_num_augmentation_1_filtered_true_prem_making_epoch_6']

In [ ]:
(os.path.join(args.data_path, "Avicenna_train.csv"), encoding = "Windows-1252"

In [16]:
raw = pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/Avicenna_train.csv", encoding = "Windows-1252")

In [18]:
raw_yes = raw[raw['Syllogistic relation'] == 'yes']

In [70]:
epoch_6_gpt2 =pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/augmented_dataset_raw/gpt2/gpt2_prem1_aug_num_1_epoch_6.csv")

In [71]:
epoch_6_gpt2

,Unnamed: 0,index,Premise 1,Premise 1_f1
0,0,1,In populations that eat a regular high-ffiber ...,0.820886
1,0,2,An ideal learning environment encourages child...,0.937535
2,0,3,Job discrimination comes with not being able t...,0.927248
3,1,4,Aggression brings serious health problems such...,0.941515
4,1,7,Batman opened an access for police forces to r...,0.873558
...,...,...,...,...
2422,484,4790,Many online sites can help people to save money,0.921022
2423,484,4791,Many facilities built for the Olympic Games wi...,0.945022
2424,484,4794,Direwolves reduced population of herbivore.,0.870043
2425,485,4796,People tend to follow honest leaders,0.933092
2426,485,4798,Spending too long on social networking sites c...,0.866181

In [64]:
data0 = pd.read_csv("/root/syllogistic/syllogistic-generation/generation_log/aug_dataset/gpt2/prem1_aug_num_1_gpt2_kfold_0_epoch_6.csv")

In [65]:
data0

,index,input,generation,label
0,29,The repetitive facial expressions you make wh...,Smoking can contribute to wrinkles.,Facial expressions mean pursing your lips when...
1,41,I will not buy thing that are too expensiveI ...,I won't buy this lamp,this lamp is very expensive
2,61,taking care of oneself is closely interwoven ...,Focusing on work is closely interwFocusing on ...,Focusing on work is a great excuse for not tak...
3,94,The period that hair growth comes to a comple...,Telogen period affects about 15% of all hairs ...,The period that hair growth comes to a complet...
4,106,People who spend most of their time with chil...,Babysitters must consider quitting smoking,Babysitters struggle with children during the day
...,...,...,...,...
481,4770,"The smaller you are, the harder it is for you...","For Oracle, it is not hard to use all the digi...",Oracle is one of the largest companies develop...
482,4773,polluted water sources poisons animals who dr...,Polluted water sources pose great danger to wi...,poisoned animals pose great danger to the wild...
483,4780,Microplastics can prevent the digestive tract...,Microplastics can reduce the urge to eat of aq...,Blocking the gastrointestinal tract can dimini...
484,4785,Multi-unit dwellings usually showcase the clo...,Most single women prefer to live in multi-unit...,Most single women prefer to live next to other...
485,4796,Honest people usually tend to be trustworthyP...,People tend to follow honest leaders,People follow leaders they trust

In [58]:
data = pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/dataset_for_premise_making/gpt2/gpt2_prem1_aug_num_2_for_making_prem_epoch_6.csv")

In [62]:
raw = pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/Avicenna_train.csv",encoding = "Windows-1252")
raw_yes = raw[raw['Syllogistic relation'] == 'yes']

In [63]:
raw_yes

,Premise 1,Premise 2,Syllogistic relation,Conclusion
1,"Chronic diseases are heart attacks and stroke,...",In populations that eat a regular high-fiber d...,yes,In populations that eat a regular high-fiber d...
2,Formative assessment encourages children to en...,An ideal learning environment uses formative a...,yes,An ideal learning environment encourages child...
3,Underrepresented female labor force in some pr...,Job discrimination comes with underrepresented...,yes,Job discrimination comes with not being able t...
4,damaged mentality in an individual brings seri...,Aggression harms the mentality of person.,yes,Aggression brings brings serious health proble...
7,Batman used electronic disruptor to malfunctio...,Failure of motion detectors opened an access f...,yes,Batman opened an access for police forces to r...
...,...,...,...,...
4790,Many online sites offer discount coupons and ...,people like shopping with rebate tickets becau...,yes,Many online sites can help people to save money
4791,Unusable spaces will function as private dens ...,Many facilities built for the Olympics can nev...,yes,Many facilities built for the Olympics will fu...
4794,Direwolvess were huge beasts which required bi...,the hunt of big-sized herbivores reduced their...,yes,Direwolves reduced population of herbivores.
4796,People follow leaders they trust,Honest people usually tend to be trustworthy,yes,People tend to follow honest leaders
4798,Psychological distress are mental disorders li...,Spending too long on social networking sites c...,yes,Spending too long on social networking sites c...

In [80]:
data1 = pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/dataset_for_premise_making/gpt2/gpt2_prem1_aug_num_1_for_making_prem_epoch_6.csv")
data2 = pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/dataset_for_premise_making/gpt2/gpt2_prem2_aug_num_1_for_making_prem_epoch_6.csv")

In [82]:
data1

,Unnamed: 0,index,Premise 1,Premise 1_f1,Premise 2,Syllogistic relation,Conclusion
0,0,1,In populations that eat a regular high-ffiber ...,0.820886,In populations that eat a regular high-fiber d...,yes,In populations that eat a regular high-fiber d...
1,1,2,An ideal learning environment encourages child...,0.937535,An ideal learning environment uses formative a...,yes,An ideal learning environment encourages child...
2,2,3,Job discrimination comes with not being able t...,0.927248,Job discrimination comes with underrepresented...,yes,Job discrimination comes with not being able t...
3,3,4,Aggression brings serious health problems such...,0.941515,Aggression harms the mentality of person.,yes,Aggression brings brings serious health proble...
4,4,7,Batman opened an access for police forces to r...,0.873558,Failure of motion detectors opened an access f...,yes,Batman opened an access for police forces to r...
...,...,...,...,...,...,...,...
2422,2422,4790,Many online sites can help people to save money,0.921022,people like shopping with rebate tickets becau...,yes,Many online sites can help people to save money
2423,2423,4791,Many facilities built for the Olympic Games wi...,0.945022,Many facilities built for the Olympics can nev...,yes,Many facilities built for the Olympics will fu...
2424,2424,4794,Direwolves reduced population of herbivore.,0.870043,the hunt of big-sized herbivores reduced their...,yes,Direwolves reduced population of herbivores.
2425,2425,4796,People tend to follow honest leaders,0.933092,Honest people usually tend to be trustworthy,yes,People tend to follow honest leaders
2426,2426,4798,Spending too long on social networking sites c...,0.866181,Spending too long on social networking sites c...,yes,Spending too long on social networking sites c...

In [99]:
data1['Premise 1_f1'].idxmax()

369

In [103]:
data1['Premise 1'][369], data1['Premise 1_f1'][369], data1['Premise 2'][369], data2['Premise 1'][369]

('Glucose syrup is a substance primarily used in commercial food production as a sweetener, thickener, and moisture-retaining agent.',
 1.0,
 'Glucose syrup is distinct from glucose.',
 'Glucose syrup is a substance primarily used in commercial food production as a sweetener, thickener, and moisture-retaining agent.')

In [81]:
data2

,Unnamed: 0,index,Premise 2,Premise 2_f1,Premise 1,Syllogistic relation,Conclusion
0,0,1,"In rural South Africa, people who eat a regula...",0.912726,"Chronic diseases are heart attacks and stroke,...",yes,In populations that eat a regular high-fiber d...
1,1,2,An ideal learning environment encourages child...,0.918426,Formative assessment encourages children to en...,yes,An ideal learning environment encourages child...
2,2,3,Job discrimination comes with not being able t...,0.892659,Underrepresented female labor force in some pr...,yes,Job discrimination comes with not being able t...
3,3,4,Aggression brings serious health problems such...,0.906715,damaged mentality in an individual brings seri...,yes,Aggression brings brings serious health proble...
4,4,7,Batman used electronic disruptor to malfunctio...,0.873902,Batman used electronic disruptor to malfunctio...,yes,Batman opened an access for police forces to r...
...,...,...,...,...,...,...,...
2422,2422,4790,Many online sites offer freebies and rebates.,0.884427,Many online sites offer discount coupons and ...,yes,Many online sites can help people to save money
2423,2423,4791,Many facilities built for the Olympics will fu...,0.910785,Unusable spaces will function as private dens ...,yes,Many facilities built for the Olympics will fu...
2424,2424,4794,Direwolves reduced population of herbivores.,0.928669,Direwolvess were huge beasts which required bi...,yes,Direwolves reduced population of herbivores.
2425,2425,4796,People tend to follow honest leaders,0.930777,People follow leaders they trust,yes,People tend to follow honest leaders
2426,2426,4798,Spending too long on social networking sites c...,0.971470,Psychological distress are mental disorders li...,yes,Spending too long on social networking sites c...

In [89]:
data1['Premise 1'][4], data2['Premise 1'][4], data1['Premise 2'][4]

('Batman opened an access for police forces to regain the control of the island.',
 'Batman used electronic disruptor to malfunction enemy’s motion detectors.',
 'Failure of motion detectors opened an access for police forces to regain the control of Miagami Island.')

In [87]:
data1['Premise 2'][3], data2['Premise 2'][3], data2['Premise 1'][3]

('Aggression harms the mentality of person.',
 'Aggression brings serious health problems such as stomach reflexes.',
 'damaged mentality in an individual brings serious health problems such as stomach reflexes.')

In [60]:
data['Premise 1'][0]

'In populations that eat a regular high-fin the diet of more than 50 grams of fiber per dayTrusted source, like rural South Africans, chronic diseases are very low.'

In [61]:
data['Premise 2'][0]

'In populations that eat a regular high-fiber diet of more than 50 grams of fiber per dayTrusted Source, like rural South Africans, chronic diseases are very low.'

In [56]:
data0['generation'][0], data['generation'][0]

('Smoking can contribute to wrinkles.',
 'The repetitive lips when inhaling and squinting your eyes to keep out smoke, when smoking can contribute to wrinkles.')

In [57]:
data0['label'][0], data['label'][0]

('Facial expressions mean pursing your lips when inhaling and squinting your eyes to keep out smoke.',
 'Smoking can contribute to wrinkles.')

In [52]:
data['generation'][0]

'The repetitive lips when inhaling and squinting your eyes to keep out smoke, when smoking can contribute to wrinkles.'

In [53]:
data['label'][0]

'Smoking can contribute to wrinkles.'

In [39]:
data['label']

0      In rural South Africa, heart attacks and strok...
1      Aggression brings serious health problems such...
2                     self-motivated is a key to success
3      Fast food makes it hard for people to reach th...
4      creative services could impact on overall unem...
                             ...
480    technology has been regularly making industria...
481    Ice is a major contributor to the global warming.
482    Internet can have a dramatic impact on local e...
483    Fish farming involves raising fish commerciall...
484    Many facilities built for the Olympics will fu...
Name: label, Length: 485, dtype: object

In [42]:
import datasets
import pandas as pd
import numpy as np
import argparse
import pprint
import os



# epoch_6_gpt2 =pd.read_csv("/root/syllogistic/syllogistic-generation/datasets/augmented_dataset_raw/gpt2/gpt2_prem1_aug_num_1_epoch_6.csv")
# raw_yes = raw[raw['Syllogistic relation'] == 'yes']

label = data['generation'].tolist()
generation = data['label'].tolist()
    
rouge_scorer = datasets.load_metric('rouge')
bleu_scorer = datasets.load_metric('bleu')

rouge_score = rouge_scorer.compute(
        references = label, 
        predictions = generation, 
        )
    
bleu_prediciton = [pred.split() for pred in generation]
bleu_label = [[lab.split()] for lab in label]
bleu_score = bleu_scorer.compute(
        references = bleu_label, 
        predictions = bleu_prediciton, 
        )

In [43]:
rouge_score

{'rouge1': AggregateScore(low=Score(precision=0.8480951126936361, recall=0.843428154543873, fmeasure=0.8398056086262276), mid=Score(precision=0.8684716217494561, recall=0.863928185473296, fmeasure=0.8603522532759456), high=Score(precision=0.8881516471678308, recall=0.8863694000062565, fmeasure=0.8817054646394801)),
 'rouge2': AggregateScore(low=Score(precision=0.8045819828190274, recall=0.8017180469630356, fmeasure=0.7967548400742978), mid=Score(precision=0.8297459389544182, recall=0.8273536085333786, fmeasure=0.8232860754922249), high=Score(precision=0.8549282515277802, recall=0.8540926075848049, fmeasure=0.8491545761998102)),
 'rougeL': AggregateScore(low=Score(precision=0.8414318953848062, recall=0.8371138975876418, fmeasure=0.833388127493366), mid=Score(precision=0.8653462667276801, recall=0.8612520913106319, fmeasure=0.857457728635374), high=Score(precision=0.887713953684179, recall=0.8830996809088865, fmeasure=0.8796757772776962)),
 'rougeLsum': AggregateScore(low=Score(precision=0.8415697752141168, recall=0.8362500427890774, fmeasure=0.8330338643368431), mid=Score(precision=0.8646945679377319, recall=0.8599748794849288, fmeasure=0.8565436480390511), high=Score(precision=0.8861776415845067, recall=0.881505137662115, fmeasure=0.8792115458336965))}

In [77]:
bleu_score

{'bleu': 0.12385942878302615,
 'precisions': [0.869488886680579,
  0.8084071752755565,
  0.7648312611012433,
  0.724443474465299],
 'brevity_penalty': 0.15678806134292822,
 'length_ratio': 0.3505253991291727,
 'translation_length': 30189,
 'reference_length': 86125}

In [19]:
raw_yes

,Premise 1,Premise 2,Syllogistic relation,Conclusion
1,"Chronic diseases are heart attacks and stroke,...",In populations that eat a regular high-fiber d...,yes,In populations that eat a regular high-fiber d...
2,Formative assessment encourages children to en...,An ideal learning environment uses formative a...,yes,An ideal learning environment encourages child...
3,Underrepresented female labor force in some pr...,Job discrimination comes with underrepresented...,yes,Job discrimination comes with not being able t...
4,damaged mentality in an individual brings seri...,Aggression harms the mentality of person.,yes,Aggression brings brings serious health proble...
7,Batman used electronic disruptor to malfunctio...,Failure of motion detectors opened an access f...,yes,Batman opened an access for police forces to r...
...,...,...,...,...
4790,Many online sites offer discount coupons and ...,people like shopping with rebate tickets becau...,yes,Many online sites can help people to save money
4791,Unusable spaces will function as private dens ...,Many facilities built for the Olympics can nev...,yes,Many facilities built for the Olympics will fu...
4794,Direwolvess were huge beasts which required bi...,the hunt of big-sized herbivores reduced their...,yes,Direwolves reduced population of herbivores.
4796,People follow leaders they trust,Honest people usually tend to be trustworthy,yes,People tend to follow honest leaders
4798,Psychological distress are mental disorders li...,Spending too long on social networking sites c...,yes,Spending too long on social networking sites c...

In [53]:
prem1 = raw_yes['Premise 1'].reset_index()
prem2 = raw_yes['Premise 2'].reset_index()
conc = raw_yes['Conclusion'].reset_index()

In [36]:
prem1_list =[]
prem2_list =[]
conc_list =[]

In [38]:
tokenizer = GPT2Tokenizer.from_pretrained(
        'gpt2', 
        bos_token = '<|startoftext|>', 
        pad_token = '<|pad|>',
        eos_token = '<|endoftext|>',
        )

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [51]:
prem1

      index                                          Premise 1
0         1  Chronic diseases are heart attacks and stroke,...
1         2  Formative assessment encourages children to en...
2         3  Underrepresented female labor force in some pr...
3         4  damaged mentality in an individual brings seri...
4         7  Batman used electronic disruptor to malfunctio...
...     ...                                                ...
2422   4790   Many online sites offer discount coupons and ...
2423   4791  Unusable spaces will function as private dens ...
2424   4794  Direwolvess were huge beasts which required bi...
2425   4796                   People follow leaders they trust
2426   4798  Psychological distress are mental disorders li...

[2427 rows x 2 columns]

In [46]:
conc

      index                                         Conclusion
0         1  In populations that eat a regular high-fiber d...
1         2  An ideal learning environment encourages child...
2         3  Job discrimination comes with not being able t...
3         4  Aggression brings brings serious health proble...
4         7  Batman opened an access for police forces to r...
...     ...                                                ...
2422   4790    Many online sites can help people to save money
2423   4791  Many facilities built for the Olympics will fu...
2424   4794       Direwolves reduced population of herbivores.
2425   4796               People tend to follow honest leaders
2426   4798  Spending too long on social networking sites c...

[2427 rows x 2 columns]

In [58]:
import pandas as pd

kfold = pd.read_csv("/root/syllogistic/syllogistic-generation/logs/KFOLD_VALIDATION_20epochs_t5_ori_mix_num_augmentation_1_filtering_true_prem_making_epoch_6/log-KFOLD_VALIDATION_20epochs_t5_ori_mix_num_augmentation_1_filtering_true_prem_making_epoch_6_kfold(0).csv")

In [59]:
kfold

,epoch,val_bleu,val_rouge,val_loss,val_rouge1,val_rouge2,val_rougeL,data_length,kfold
0,-1,0.205427,NaN,2.192091,0.433195,0.329884,0.385506,3190.0,0.0
1,0,0.561145,NaN,0.773188,0.688031,0.583483,0.674770,3190.0,0.0
2,1,0.567885,NaN,0.761557,0.704450,0.599765,0.689944,3190.0,0.0
3,2,0.591980,NaN,0.774363,0.728483,0.626499,0.712259,3190.0,0.0
4,3,0.584878,NaN,0.798136,0.725247,0.621899,0.710231,3190.0,0.0
...,...,...,...,...,...,...,...,...,...
58,15,0.598897,NaN,1.196318,0.738312,0.635193,0.724113,3208.0,0.0
59,16,0.597859,NaN,1.195010,0.728068,0.620441,0.710789,3208.0,0.0
60,17,0.591362,NaN,1.247480,0.725855,0.629485,0.713630,3208.0,0.0
61,18,0.596934,NaN,1.276310,0.726709,0.625953,0.711992,3208.0,0.0
62,19,0.590559,NaN,1.327406,0.726972,0.621493,0.708329,3208.0,0.0

In [64]:
kfold_filtered = kfold[-21:]

In [65]:
kfold_filtered

,epoch,val_bleu,val_rouge,val_loss,val_rouge1,val_rouge2,val_rougeL,data_length,kfold
42,-1,0.205427,NaN,2.192091,0.433195,0.329884,0.385506,3208.0,0.0
43,0,0.560549,NaN,0.782706,0.696671,0.590405,0.682442,3208.0,0.0
44,1,0.587170,NaN,0.761927,0.721380,0.620490,0.707757,3208.0,0.0
45,2,0.580514,NaN,0.773253,0.722270,0.619748,0.707510,3208.0,0.0
46,3,0.608207,NaN,0.778395,0.749395,0.648388,0.736186,3208.0,0.0
47,4,0.611411,NaN,0.812731,0.739551,0.636283,0.724674,3208.0,0.0
48,5,0.617186,NaN,0.847054,0.745356,0.642556,0.732859,3208.0,0.0
49,6,0.597153,NaN,0.877923,0.731435,0.626780,0.717409,3208.0,0.0
50,7,0.598622,NaN,0.934398,0.732492,0.631162,0.719087,3208.0,0.0
51,8,0.600920,NaN,0.962046,0.740518,0.636299,0.722866,3208.0,0.0
52,9,0.613819,NaN,1.014754,0.747913,0.646401,0.731104,3208.0,0.0
53,10,0.604413,NaN,1.061835,0.739114,0.636578,0.720498,3208.0,0.0
54,11,0.605099,NaN,1.064230,0.739346,0.639176,0.725215,3208.0,0.0
55,12,0.587440,NaN,1.112151,0.728186,0.623691,0.712058,3208.0,0.0
56,13,0.603257,NaN,1.133761,0.735382,0.634155,0.718426,3208.0,0.0
57,14,0.592663,NaN,1.156206,0.729506,0.624714,0.713051,3208.0,0.0
58,15,0.598897,NaN,1.196318,0.738312,0.635193,0.724113,3208.0,0.0
59,16,0.597859,NaN,1.195010,0.728068,0.620441,0.710789,3208.0,0.0
60,17,0.591362,NaN,1.247480,0.725855,0.629485,0.713630,3208.0,0.0
61,18,0.596934,NaN,1.276310,0.726709,0.625953,0.711992,3208.0,0.0
62,19,0.590559,NaN,1.327406,0.726972,0.621493,0.708329,3208.0,0.0

In [66]:
others = pd.read_csv("/root/syllogistic/syllogistic-generation/logs/KFOLD_VALIDATION_20epochs_t5_ori_mix_num_augmentation_3_filtering_true_prem_making_epoch_9/log-KFOLD_VALIDATION_20epochs_t5_ori_mix_num_augmentation_3_filtering_true_prem_making_epoch_9_kfold(0).csv")

In [67]:
others

,epoch,val_bleu,val_rouge,val_loss,val_rouge1,val_rouge2,val_rougeL,data_length,kfold
0,-1,0.205427,NaN,2.192091,0.433195,0.329884,0.385506,6181.0,0.0
1,0,0.558603,NaN,0.788701,0.687143,0.581846,0.675905,6181.0,0.0
2,1,0.587714,NaN,0.760094,0.722407,0.617163,0.708298,6181.0,0.0
3,2,0.577839,NaN,0.822466,0.719281,0.614156,0.701025,6181.0,0.0
4,3,0.592176,NaN,0.846312,0.741019,0.636166,0.724598,6181.0,0.0
5,4,0.594244,NaN,0.910449,0.736100,0.628130,0.718241,6181.0,0.0
6,5,0.592555,NaN,0.964255,0.729695,0.618764,0.709832,6181.0,0.0
7,6,0.576826,NaN,1.009010,0.722442,0.612604,0.704829,6181.0,0.0
8,7,0.578966,NaN,1.069441,0.716847,0.608549,0.699932,6181.0,0.0
9,8,0.589471,NaN,1.124712,0.732466,0.620828,0.713398,6181.0,0.0
10,9,0.569197,NaN,1.169914,0.713575,0.603906,0.695947,6181.0,0.0
11,10,0.586384,NaN,1.211794,0.718497,0.608883,0.702378,6181.0,0.0
12,11,0.574813,NaN,1.254590,0.719759,0.611860,0.701398,6181.0,0.0
13,12,0.587626,NaN,1.291653,0.721007,0.612929,0.702983,6181.0,0.0
14,13,0.559939,NaN,1.322756,0.715574,0.607932,0.697335,6181.0,0.0
15,14,0.568138,NaN,1.346902,0.709768,0.600168,0.690280,6181.0,0.0
16,15,0.579649,NaN,1.407473,0.718135,0.607808,0.699218,6181.0,0.0
17,16,0.583203,NaN,1.386611,0.724755,0.617174,0.710558,6181.0,0.0
18,17,0.574487,NaN,1.397825,0.721921,0.612691,0.701746,6181.0,0.0
19,18,0.587812,NaN,1.415006,0.721531,0.614963,0.702990,6181.0,0.0
20,19,0.581401,NaN,1.445989,0.716856,0.611884,0.700331,6181.0,0.0

In [68]:
others_filtered = others[-21:]

In [69]:
others_filtered

,epoch,val_bleu,val_rouge,val_loss,val_rouge1,val_rouge2,val_rougeL,data_length,kfold
0,-1,0.205427,NaN,2.192091,0.433195,0.329884,0.385506,6181.0,0.0
1,0,0.558603,NaN,0.788701,0.687143,0.581846,0.675905,6181.0,0.0
2,1,0.587714,NaN,0.760094,0.722407,0.617163,0.708298,6181.0,0.0
3,2,0.577839,NaN,0.822466,0.719281,0.614156,0.701025,6181.0,0.0
4,3,0.592176,NaN,0.846312,0.741019,0.636166,0.724598,6181.0,0.0
5,4,0.594244,NaN,0.910449,0.736100,0.628130,0.718241,6181.0,0.0
6,5,0.592555,NaN,0.964255,0.729695,0.618764,0.709832,6181.0,0.0
7,6,0.576826,NaN,1.009010,0.722442,0.612604,0.704829,6181.0,0.0
8,7,0.578966,NaN,1.069441,0.716847,0.608549,0.699932,6181.0,0.0
9,8,0.589471,NaN,1.124712,0.732466,0.620828,0.713398,6181.0,0.0
10,9,0.569197,NaN,1.169914,0.713575,0.603906,0.695947,6181.0,0.0
11,10,0.586384,NaN,1.211794,0.718497,0.608883,0.702378,6181.0,0.0
12,11,0.574813,NaN,1.254590,0.719759,0.611860,0.701398,6181.0,0.0
13,12,0.587626,NaN,1.291653,0.721007,0.612929,0.702983,6181.0,0.0
14,13,0.559939,NaN,1.322756,0.715574,0.607932,0.697335,6181.0,0.0
15,14,0.568138,NaN,1.346902,0.709768,0.600168,0.690280,6181.0,0.0
16,15,0.579649,NaN,1.407473,0.718135,0.607808,0.699218,6181.0,0.0
17,16,0.583203,NaN,1.386611,0.724755,0.617174,0.710558,6181.0,0.0
18,17,0.574487,NaN,1.397825,0.721921,0.612691,0.701746,6181.0,0.0
19,18,0.587812,NaN,1.415006,0.721531,0.614963,0.702990,6181.0,0.0
20,19,0.581401,NaN,1.445989,0.716856,0.611884,0.700331,6181.0,0.0

In [55]:
for i in range(len(prem1)):
    prem1_token = tokenizer(prem1['Premise 1'][i], add_special_tokens = True, return_tensors = 'pt', padding = "do_not_pad", max_length = 128)
    prem2_token = tokenizer(prem2['Premise 2'][i], add_special_tokens = True, return_tensors = 'pt', padding = "do_not_pad", max_length = 128)
    conc_token = tokenizer(conc['Conclusion'][i], add_special_tokens = True, return_tensors = 'pt', padding = "do_not_pad", max_length = 128)
    prem1_list.append(len(prem1_token['input_ids'][0]))
    prem2_list.append(len(prem2_token['input_ids'][0]))
    conc_list.append(len(conc_token['input_ids'][0]))

In [57]:
max(prem1_list),max(prem2_list), max(conc_list)

(58, 58, 71)

In [3]:
tokenizer = GPT2Tokenizer.from_pretrained(
        'gpt2', 
        bos_token = '<|startoftext|>', 
        pad_token = '<|pad|>',
        eos_token = '<|endoftext|>',
        )

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [ ]:
for i in range(len)

In [23]:
input_for_generation = tokenizer('input_for_generation_text', add_special_tokens = True, return_tensors = 'pt', padding = "do_not_pad", max_length = 128)

In [24]:
input_for_generation

{'input_ids': tensor([[15414,    62,  1640,    62, 20158,    62,  5239]]), 'attention_mask': tensor([[1, 1, 1, 1, 1, 1, 1]])}

In [26]:
len(input_for_generation['input_ids'][0])

7

In [15]:
len(input_for_generation['input_ids'][0])

128

In [10]:
df = pd.read_html("/root/syllogistic/syllogistic-generation/seq2seq/finetune/generation_log/test_10epochs_again_aug_mix_num_augmentation_1_filtered_true/test_10epochs_again_aug_mix_num_augmentation_1_filtered_true.html")[0]

In [11]:
df

,input,generation,label
0,Freedom in the World published each year since...,Freedom in the World published each year since...,Freedom in the World published each year since...
1,Arsenal finished the Premier League season wit...,Arsenal grants a winner with golden trophy ins...,Arsenal were granted with golden trophy instea...
2,Regenerating stamina requires the cooling of b...,Regenerating stamina is possible by sweating,Regenerating stamina is possible by sweating.
3,North American toadsâ inherit Glucose based ...,North American toads are resistant to freezing...,North American toads are resistant to freezing...
4,High inflation may lead to higher borrowing co...,Financial markets may lead to higher borrowing...,Rising prices and increase in the cost of borr...
...,...,...,...
625,osteoporosis is more common in females than in...,breval osteoporosis is more common in females ...,becoming weak and brittle in bones is more com...
626,"The fewer friends a person has, the higher lev...","The fewer friends a person has, increases the ...",Having few friends increases the risks of hear...
627,Interacting with other people is the first ste...,"You can make more friends, if you can control ...",You can make more friends through interacting ...
628,The car slip makes it challenging to come to a...,Road conditions as a result of the rain make i...,Road conditions as a result of the rain can ch...
629,Since 1990 it had been discovered that Helium ...,Since 1990 it had been discovered that Helium ...,Helium is stable.

In [2]:
train = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/Avicenna_train.csv", encoding = "Windows-1252")
test = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/Avicenna_test.csv", encoding = "Windows-1252")

In [6]:
train = train[train['Syllogistic relation'] == 'yes']
test = test[test['Syllogistic relation'] == 'yes']

In [7]:
len(test)

630

In [8]:
len(train)

2427

In [9]:
len(train) + len(test)

3057

In [2]:
augmented_num2_raw = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/augmented_num_2_bert_score.csv")
augmented_num3_raw = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/augmented_num_3_bert_score.csv")
raw = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/Avicenna_train.csv", encoding = 'Windows-1252')
raw['index'] = raw.index
raw = raw[raw['Syllogistic relation'] == 'yes']

In [3]:
len(augmented_num2_raw), len(augmented_num3_raw)

(2427, 2427)

In [4]:
augmented_num2_raw = augmented_num2_raw.drop("index", axis=1)
augmented_num3_raw = augmented_num3_raw.drop("index", axis=1)

In [ ]:
df = pd.merge(augmented_num2_raw, raw[["Conclusion", "index"]], how = 'inner', on = 'Conclusion')
df = df.drop_duplicates(["index"])

In [5]:
def index_arr(aug_df, raw):
    df = pd.merge(aug_df, raw[["Conclusion", "index"]], how = 'inner', on = 'Conclusion')
    df = df.drop_duplicates(["index"])
    return df

In [6]:
augmented_num2_idx_arr = index_arr(augmented_num2_raw, raw)
augmented_num3_idx_arr = index_arr(augmented_num3_raw, raw)

In [7]:
augmented_num2_idx_arr

,Unnamed: 0.1,Unnamed: 0,Premise 1,Premise 2,Conclusion,Premise 1_f1,Premise 2_f1,index
0,0,1457,"Trusted Source, like rural South Africans, hea...",In populations that eat a regular high-fiber d...,In populations that eat a regular high-fiber d...,0.932383,0.975437,1
1,1,1942,A structured learning environment encourages c...,An ideal learning environment encourages activ...,An ideal learning environment encourages child...,0.942185,0.932617,2
2,2,486,Underrepresented female labor force is not bei...,Job discrimination comes with not being able t...,Job discrimination comes with not being able t...,0.964534,0.913219,3
3,3,1458,Negative attitude brings brings serious health...,Aggression brings about negative thinking.,Aggression brings brings serious health proble...,0.942149,0.939154,4
4,4,1943,Batman used an electronic disruptor.,The activation of the motion detectors opened ...,Batman opened an access for police forces to r...,0.937415,0.976193,7
...,...,...,...,...,...,...,...,...
2442,2422,970,Many online sites offer discount coupons.,Buying rebate tickets can help people to save ...,Many online sites can help people to save money,0.977255,0.928349,4790
2443,2423,1941,Unapproved spaces will function as private den...,Many facilities built for the Olympics are not...,Many facilities built for the Olympics will fu...,0.979878,0.965854,4791
2444,2424,1456,Direwolves had bigger preys.,Hunting big-sized animals reduced population o...,Direwolves reduced population of herbivores.,0.923978,0.954270,4794
2445,2425,485,People tend to follow trustworthy leaders,Honest leaders tend to follow trustworthy leaders,People tend to follow honest leaders,0.944983,0.927898,4796
2446,2426,971,Social media can lead to mental disorders like...,Spending too long on social networking sites c...,Spending too long on social networking sites c...,0.923846,0.985895,4798

In [8]:
augmented_num2_idx_arr['index'].is_unique

True

In [9]:
augmented_num3_idx_arr['index'].is_unique

True

In [10]:
augmented_num2_idx_arr.to_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/augmented_num_2_bert_score.csv")
augmented_num3_idx_arr.to_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/augmented_num_3_bert_score.csv")

In [14]:
df = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/augmented_num_3_bert_score.csv")

In [15]:
df['index'].is_unique

True

In [16]:
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Premise 1,Premise 2,Conclusion,Premise 1_f1,Premise 2_f1,index
0,0,0,1457,"In populations that have high levels of fiber,...",In populations that eat a regular high-fiber d...,In populations that eat a regular high-fiber d...,0.900492,0.942063,1
1,1,1,1942,Children to enjoy learning tend to stay active,An ideal learning environment encourages child...,An ideal learning environment encourages child...,0.895980,0.913974,2
2,2,2,486,Women are not able to demand rights of closing...,Job discrimination comes with low wages.,Job discrimination comes with not being able t...,0.941804,0.927308,3
3,3,3,1458,stomach reflexes can lead to stomach irritation.,Aggression brings about aggressive behavior.,Aggression brings brings serious health proble...,0.901396,0.934489,4
4,4,4,1943,Batman activated the motion detectors.,The use of an electronic disruptor opened an a...,Batman opened an access for police forces to r...,0.925566,0.961404,7
...,...,...,...,...,...,...,...,...,...
2422,2442,2422,970,Many online sites allow you to purchase rebate...,Discounting money can help people to save money,Many online sites can help people to save money,0.922325,0.903811,4790
2423,2443,2423,1941,Public spaces will function as private dens fo...,Many facilities built for the Olympics will ha...,Many facilities built for the Olympics will fu...,0.971194,0.931093,4791
2424,2444,2424,1456,Direwolves are vicious animals.,Increased population of herbivores reduced pop...,Direwolves reduced population of herbivores.,0.897030,0.926229,4794
2425,2445,2425,485,People who are trustworthy tend to become more...,Honest leaders tend to follow honest leaders,People tend to follow honest leaders,0.892488,0.914391,4796
2426,2446,2426,971,Depression and anxiety can lead to mental diso...,Spending too long on social networking sites c...,Spending too long on social networking sites c...,0.918608,0.980914,4798

In [1]:
import pandas as pd

In [2]:
data = pd.read_html("/root/syllogistic/syllogistic-generation/seq2seq/finetune/generation_log/docker_test_train_aug_mix_num_augmentation_1-finetune/docker_test_train_aug_mix_num_augmentation_1-finetune.html")[0]

In [3]:
data

,input,generation,label
0,Freedom in the World published each year since...,Freedom in the World published each year since...,Freedom in the World published each year since...
1,Arsenal finished the Premier League season wit...,Arsenal grants them golden trophy instead of s...,Arsenal were granted with golden trophy instea...
2,Regenerating stamina requires the cooling of b...,Regenerating stamina requires sweating.,Regenerating stamina is possible by sweating.
3,North American toadsâ inherit Glucose based ...,North American toads are resistant to freezing...,North American toads are resistant to freezing...
4,High inflation may lead to higher borrowing co...,Financial markets may lead to higher borrowing...,Rising prices and increase in the cost of borr...
...,...,...,...
625,osteoporosis is more common in females than in...,males are more common in females than in males.,becoming weak and brittle in bones is more com...
626,"The fewer friends a person has, the higher lev...","The fewer friends a person has, the higher ris...",Having few friends increases the risks of hear...
627,Interacting with other people is the first ste...,You can make more friends if you can control y...,You can make more friends through interacting ...
628,The car slip makes it challenging to come to a...,Road conditions as a result of the rain make i...,Road conditions as a result of the rain can ch...
629,Since 1990 it had been discovered that Helium ...,Since 1990 it had been discovered that Helium ...,Helium is stable.

In [4]:
data = pd.read_html("/root/syllogistic/syllogistic-generation/seq2seq/finetune/generation_log/docker_test_train_aug_mix_num_augmentation_1-finetune/docker_test_train_aug_mix_num_augmentation_1-finetune.html")

In [5]:
data

[                                                 input  \
 0    Freedom in the World published each year since...
 1    Arsenal finished the Premier League season wit...
 2    Regenerating stamina requires the cooling of b...
 3    North American toadsâ inherit Glucose based ...
 4    High inflation may lead to higher borrowing co...
 ..                                                 ...
 625  osteoporosis is more common in females than in...
 626  The fewer friends a person has, the higher lev...
 627  Interacting with other people is the first ste...
 628  The car slip makes it challenging to come to a...
 629  Since 1990 it had been discovered that Helium ...

                                             generation  \
 0    Freedom in the World published each year since...
 1    Arsenal grants them golden trophy instead of s...
 2              Regenerating stamina requires sweating.
 3    North American toads are resistant to freezing...
 4    Financial markets may lead to higher borrowing...
 ..                                                 ...
 625    males are more common in females than in males.
 626  The fewer friends a person has, the higher ris...
 627  You can make more friends if you can control y...
 628  Road conditions as a result of the rain make i...
 629  Since 1990 it had been discovered that Helium ...

                                                  label
 0    Freedom in the World published each year since...
 1    Arsenal were granted with golden trophy instea...
 2        Regenerating stamina is possible by sweating.
 3    North American toads are resistant to freezing...
 4    Rising prices and increase in the cost of borr...
 ..                                                 ...
 625  becoming weak and brittle in bones is more com...
 626  Having few friends increases the risks of hear...
 627  You can make more friends through interacting ...
 628  Road conditions as a result of the rain can ch...
 629                                  Helium is stable.

 [630 rows x 3 columns]]

In [6]:
test = pd.read_csv("/root/syllogistic/syllogistic-generation/seq2seq/finetune/datasets/Avicenna_test.csv", encoding = "Windows-1252")

In [7]:
test = test[test["Syllogistic relation"] == "yes"]

In [8]:
len(test)

630